/* Needed for my ASCII art drawings so they don't wrap on small screens  */
.post-content pre code {
	white-space: pre;
	overflow: auto;
	overflow-x: auto;
	word-break: normal;
}

/* Needed for 512kb.club */
.kb-club {
  display: grid;
  place-items: center;
}

.kb-club img {
  transform: scale(.75,.75)
}


/* Needed for Simple Icons */
.simple-icons-inline {
	vertical-align: text-top;
}

.simple-icons-inline svg {
	height: 1em;
}

/* Needed for https://github.com/loganmarchione/svg-assets */
.svg-assets-inline {
	vertical-align: text-top;
}

.svg-assets-inline svg {
	height: 1em;
}