/* Needed for my ASCII art drawings so they don't wrap on small screens  */
.post-content pre code {
	white-space: pre;
	overflow: auto;
	overflow-x: auto;
	word-break: normal;
}

/* Needed for 512kb.club */
.kb-club {
  display: grid;
  place-items: center;
}

.kb-club img {
  transform: scale(.75,.75)
}