 <div>
    <table>
      <thead>
        <tr>
          <th>Software</th>
          <th>Hosting type</th>
          <th>Self-hosted version?</th>
          <th>Stack</th>
          <th>Pricing (lowest tier)</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th><a href="https://marketingplatform.google.com/about/analytics/">Google Analytics</a></th>
          <td>SaaS</td>
          <td>No</td>
          <td>N/A</td>
          <td>Free tier</td>
        </tr>
        <tr>
          <th><a href="https://simpleanalytics.com/">Simple Analytics</a></th>
          <td>SaaS</td>
          <td>No</td>
          <td>N/A</td>
          <td>$19/month</td>
        </tr>
        <tr>
          <th><a href="https://matomo.org/">Matomo</a></th>
          <td>Self-hosted and SaaS</td>
          <td>Yes</td>
          <td>PHP and MySQL</td>
          <td>Free (self-hosted) or $29/month (SaaS)</td>
        </tr>
        <tr>
          <th><a href="https://usefathom.com/">Fathom</a></th>
          <td>Self-hosted and SaaS</td>
          <td>Yes</td>
          <td>Go and MySQL</td>
          <td>Free (self-hosted) or $14/month (SaaS)</td>
        </tr>
        <tr>
          <th><a href="https://plausible.io/">Plausible</a></th>
          <td>Self-hosted and SaaS</td>
          <td>Yes</td>
          <td>Elixir and PostgreSQL</td>
          <td>Free (self-hosted) or $6/month (SaaS)</td>
        </tr>
        <tr>
          <th><a href="https://www.goatcounter.com/">GoatCounter</a></th>
          <td>Self-hosted and SaaS</td>
          <td>Yes</td>
          <td>Go and PostgreSQL</td>
          <td>Free (self-hosted) or Free (SaaS)</td>
        </tr>
        <tr>
          <th><a href="https://www.usertrack.net/">userTrack</a></th>
          <td>Self-hosted and SaaS</td>
          <td>Yes (but not open-source)</td>
          <td>PHP and MySQL</td>
          <td>$99 lifetime (self-hosted) or $25/month (SaaS)</td>
        </tr>
        <tr>
          <th><a href="http://www.openwebanalytics.com/">Open Web Analytics</a></th>
          <td>Self-hosted</td>
          <td>Yes</td>
          <td>PHP and MySQL</td>
          <td>Free (self-hosted)</td>
          </tr>
        <tr>
          <th><a href="https://umami.is/">Umami</a></th>
          <td>Self-hosted</td>
          <td>Yes</td>
          <td>Node and MySQL</td>
          <td>Free (self-hosted)</td>
        </tr>
        <tr>
          <th><a href="https://ackee.electerious.com/">Ackee</a></th>
          <td>Self-hosted</td>
          <td>Yes</td>
          <td>Node and MongoDB</td>
          <td>Free (self-hosted)</td>
        </tr>
      </tbody>
    </table>
  </div>