<div>
  <table class="table is-hoverable">
    <thead>
      <tr>
        <th>Organization</th>
        <th>Course/Certificate</th>
        <th>Badge</th>
        <th>Obtained</th>
        <th>Expiration</th>
        <th>Certificate</th>
      </tr>
    </thead>
    <tfoot>
      <tr>
        <th>Organization</th>
        <th>Course/Certificate</th>
        <th>Badge</th>
        <th>Obtained</th>
        <th>Expiration</th>
        <th>Certificate</th>
      </tr>
    </tfoot>
    <tbody>
      <tr>
        <td>The Pennsylvania State University</td>
        <td><a href="https://ist.psu.edu/students/undergrad/majors/istbs" target="_blank" rel="noopener noreferrer">Bachelor of Science in Information Sciences and Technology</a><br>Minor in <a href="https://ist.psu.edu/students/undergrad/minors/sra" target="_blank" rel="noopener noreferrer">Security and Risk Analysis</a></td>
        <td><img src="/assets/assets/psu_shield.svg" width="60"></td>
        <td>2011-12-XX</td>
        <td>N/A</td>
        <td>N/A</td>
      </tr>
      <tr>
        <td>CompTIA</td>
        <td><a href="https://www.comptia.org/certifications/security" target="_blank" rel="noopener noreferrer">Security+ (SY0-501)</a></td>
        <td><img src="/assets/assets/comptia_security_plus.svg" width="60"></td>
        <td>2019-09-21</td>
        <td>2022-09-21</td>
        <td><a href="https://loganmarchione.net/education/2019-09-21_CompTIA_Security_Plus_Certified_CE_Certificate.pdf" target="_blank" rel="noopener noreferrer">PDF</a></td>
      </tr>
      <!--
      <tr>
        <td>edX</td>
        <td><a href="https://www.edx.org/course/essentials-of-site-reliability-and-devops-engineering" target="_blank" rel="noopener noreferrer">Linux Foundation - Introduction to Site Reliability Engineering and DevOps</a></td>
        <td><img src="/assets/assets/edx.svg" width="60"></td>
        <td>2020-01-10</td>
        <td>N/A</td>
        <td><a href="https://loganmarchione.net/education/2020-01-10_edX_LFS162x_Certificate.pdf" target="_blank" rel="noopener noreferrer">PDF</a></td>
      </tr>
      -->
      <!--
      <tr>
        <td>edX</td>
        <td><a href="https://www.edx.org/course/enterprise-security-fundamentals-5" target="_blank" rel="noopener noreferrer">Microsoft - Enterprise Security Fundamentals</a></td>
        <td><img src="/assets/assets/edx.svg" width="60"></td>
        <td>2020-01-16</td>
        <td>N/A</td>
        <td><a href="https://loganmarchione.net/education/2020-01-16_edX_INF246x_Certificate.pdf" target="_blank" rel="noopener noreferrer">PDF</a></td>
      </tr>
      -->
      <tr>
        <td>(ISC)&sup2;</td>
        <td><a href="https://www.isc2.org/Certifications/SSCP" target="_blank" rel="noopener noreferrer">Systems Security Certified Practitioner (SSCP)</a></td>
        <td><img src="/assets/assets/ISC2_SSCP_Badge.png" width="60"></td>
        <td>2020-03-17</td>
        <td>2023-03-31</td>
        <td><a href="https://loganmarchione.net/education/2020-03-17_ISC2_SSCP_Certificate.pdf" target="_blank" rel="noopener noreferrer">PDF</a></td>
      </tr>
      <!--
      <tr>
        <td>edX</td>
        <td><a href="https://www.edx.org/course/mongodb-basics" target="_blank" rel="noopener noreferrer">MongoDB University - MongoDB Basics</a></td>
        <td><img src="/assets/assets/edx.svg" width="60"></td>
        <td>2020-03-04</td>
        <td>N/A</td>
        <td><a href="https://loganmarchione.net/education/2020-03-04_edX_MongoDBx_001x_Certificate.pdf" target="_blank" rel="noopener noreferrer">PDF</a></td>
      </tr>
      -->
      <!--
      <tr>
        <td>edX</td>
        <td><a href="https://www.edx.org/course/fundamentals-of-red-hat-enterprise-linux" target="_blank" rel="noopener noreferrer">RedHat - Fundamentals of Red Hat Enterprise Linux</a></td>
        <td><img src="/assets/assets/edx.svg" width="60"></td>
        <td>2020-03-17</td>
        <td>N/A</td>
        <td><a href="https://loganmarchione.net/education/2020-03-17_edX_RH066x_Certificate.pdf" target="_blank" rel="noopener noreferrer">PDF</a></td>
      </tr>
      -->
      <!--
      <tr>
        <td>FEMA</td>
        <td><a href="https://training.fema.gov/is/courseoverview.aspx?code=IS-100.c" target="_blank" rel="noopener noreferrer">IS-100.C: Introduction to the Incident Command System</a></td>
        <td><img src="/assets/assets/fema.svg" width="60"></td>
        <td>2020-04-16</td>
        <td>N/A</td>
        <td><a href="https://loganmarchione.net/education/2020-04-16_fema_IS-100.C.pdf" target="_blank" rel="noopener noreferrer">PDF</a></td>
      </tr>
      -->
      <!--
      <tr>
        <td>FEMA</td>
        <td><a href="https://training.fema.gov/is/courseoverview.aspx?code=IS-700.b" target="_blank" rel="noopener noreferrer">IS-700.B: An Introduction to the National Incident Management System</a></td>
        <td><img src="/assets/assets/fema.svg" width="60"></td>
        <td>2020-04-23</td>
        <td>N/A</td>
        <td><a href="https://loganmarchione.net/education/2020-04-23_fema_IS-700.B.pdf" target="_blank" rel="noopener noreferrer">PDF</a></td>
      </tr>
      -->
      <!--
      <tr>
        <td>edX</td>
        <td><a href="https://www.edx.org/course/introduction-to-python-absolute-beginner-2" target="_blank" rel="noopener noreferrer">Microsoft - Introduction to Python: Absolute Beginner</a></td>
        <td><img src="/assets/assets/edx.svg" width="60"></td>
        <td>2020-06-02</td>
        <td>N/A</td>
        <td><a href="https://loganmarchione.net/education/2020-06-02_edX_DEV236x_Certificate.pdf" target="_blank" rel="noopener noreferrer">PDF</a></td>
      </tr>
      -->
      <!--
      <tr>
        <td>AWS</td>
        <td><a href="https://www.aws.training/Details/eLearning?id=60697" target="_blank" rel="noopener noreferrer">AWS Cloud Practitioner Essentials</a></td>
        <td><img src="/assets/assets/aws.svg" width="60"></td>
        <td>2021-08-26</td>
        <td>N/A</td>
        <td><a href="https://loganmarchione.net/education/2021-08-26_AWS_Training_Cloud_Practitioner_Essentials.png" target="_blank" rel="noopener noreferrer">PNG</a></td>
      </tr>
      -->
      <!--
      <tr>
        <td>AWS</td>
        <td><a href="https://www.aws.training/Details/eLearning?id=34259" target="_blank" rel="noopener noreferrer">AWS Security Fundamentals (Second Edition)</a></td>
        <td><img src="/assets/assets/aws.svg" width="60"></td>
        <td>2021-08-26</td>
        <td>N/A</td>
        <td><a href="https://loganmarchione.net/education/2021-08-26_AWS_Training_Security_Fundamentals_Second_Edition.png" target="_blank" rel="noopener noreferrer">PNG</a></td>
      </tr>
      -->
      <!--
      <tr>
        <td>A Cloud Guru</td>
        <td><a href="https://acloudguru.com/course/learn-aws-by-doing" target="_blank" rel="noopener noreferrer">Learn AWS by Doing</a></td>
        <td><img src="/assets/assets/acg.svg" width="60"></td>
        <td>2021-09-01</td>
        <td>N/A</td>
        <td><a href="https://loganmarchione.net/education/2021-09-01_ACG_Learn_AWS_by_Doing.png" target="_blank" rel="noopener noreferrer">PNG</a></td>
      </tr>
      -->
      <tr>
        <td>AWS</td>
        <td><a href="https://aws.amazon.com/certification/certified-cloud-practitioner/" target="_blank" rel="noopener noreferrer">Certified Cloud Practitioner (CCP)</a></td>
        <td><img src="/assets/assets/aws_certified_cloud_practitioner.png" width="60"></td>
        <td>2021-10-09</td>
        <td>2024-10-09</td>
        <td><a href="https://loganmarchione.net/education/2021-10-09_AWS_Certified_Cloud_Practitioner_Certificate.pdf" target="_blank" rel="noopener noreferrer">PDF</a></td>
      </tr>
      <!--
      <tr>
        <td>edX</td>
        <td><a href="https://www.edx.org/course/introduction-to-containers-kubernetes-and-openshift" target="_blank" rel="noopener noreferrer">IBM - Introduction to Containers, Kubernetes and OpenShift</a></td>
        <td><img src="/assets/assets/edx.svg" width="60"></td>
        <td>2023-02-03</td>
        <td>N/A</td>
        <td><a href="https://loganmarchione.net/education/2023-02-03_edX_IBM_CC0201EN_Certificate.pdf" target="_blank" rel="noopener noreferrer">PDF</a></td>
      </tr>
      -->
      <tr>
        <td>AWS</td>
        <td><a href="https://aws.amazon.com/certification/certified-cloud-practitioner/" target="_blank" rel="noopener noreferrer">Certified Cloud Practitioner (CCP)</a></td>
        <td><img src="/assets/assets/aws_certified_cloud_practitioner.png" width="60"></td>
        <td>2024-05-30</td>
        <td>2027-05-30</td>
        <td><a href="https://loganmarchione.net/education/2024-05-30_AWS_Certified_Cloud_Practitioner_Certificate.pdf" target="_blank" rel="noopener noreferrer">PDF</a></td>
      </tr>
      <tr>
        <td>The Linux Foundation</td>
        <td><a href="https://training.linuxfoundation.org/certification/certified-it-associate/" target="_blank" rel="noopener noreferrer">Certified IT Associate (LFCA)</a></td>
        <td><img src="/assets/assets/linux_foundation_lfca.png" width="60"></td>
        <td>2024-05-30</td>
        <td>2027-05-30</td>
        <td><a href="https://loganmarchione.net/education/2026-02-05_Linux_Foundation_Certified_IT_Associate_Certificate.pdf" target="_blank" rel="noopener noreferrer">PDF</a></td>
      </tr>
    </tbody>
  </table>
</div>