<div>
  <table>
    <thead>
      <tr>
        <th>Component</th>
        <th>Current (2017 prices)</th>
        <th>New (2021 pandemic prices)</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th>Base kit</th>
        <td><a href="https://ark.intel.com/content/www/us/en/ark/products/95066/intel-nuc-kit-nuc7i3bnh.html">Intel NUC NUC7i3BNH</a> - $282.99</td>
        <td><a href="https://www.asrock.com/nettop/Intel/DeskMini%20H470%20Series/index.asp">ASRock DeskMini H470</a> - $200.99</td>
      </tr>
      <tr>
        <th>CPU</th>
        <td>Intel Core i3-7100U (2c/4t @ 2.40GHz)</td>
        <td>Intel Core i5-10400 (6c/12t @ 2.90GHz) - $164.99</td>
      </tr>
      <tr>
        <th>Memory</th>
        <td>Crucial 32GB Kit (2x 16GB) DDR4-2400 SODIMM - $173.00</td>
        <td>Corsair 64GB Kit (2x 32GB) DDR4-2666 SODIMM - $358.99</td>
      </tr>
      <tr>
        <th>Storage</th>
        <td>Samsung 860 Pro 2.5" 512GB SATA SSD - $138.07</td>
        <td>Samsung 970 Pro 512GB M.2 NVMe SSD - $149.99</td>
      </tr>
      <tr>
        <th>Accessories</th>
        <td>N/A</td>
        <td>Noctua NH-L9i - $44.95</td>
      </tr>
      <tr>
        <th>Total price</th>
        <td>$594.06</td>
        <td>$919.91</td>
      </tr>
      <tr>
        <th>Comments</th>
        <td style="vertical-align:top">
          <ul>
            <li>U-Series processor (laptop chip)</li>
            <li>Mediocre cooling</li>
            <li>Smallest footprint</li>
          </ul>
        </td>
        <td style="vertical-align:top">
          <ul>
            <li>Standard processor (desktop chip)</li>
            <li>CPU socket (so I can upgrade the CPU later)</li>
            <li>Excellent cooling (due to aftermarket cooler)</li>
          </ul>
        </td>
      </tr>
    </tbody>
  </table>
</div>