<div>
  <table>
    <thead>
      <tr>
        <th>Component</th>
        <th>Current</th>
        <th colspan="4">Proposed</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th>Base kit</th>
        <td><a href="https://ark.intel.com/content/www/us/en/ark/products/95066/intel-nuc-kit-nuc7i3bnh.html">Intel NUC NUC7i3BNH</a> - $282.99</td>
        <td><a href="https://ark.intel.com/content/www/us/en/ark/products/205040/intel-nuc-11-performance-kit-nuc11pahi5.html">Intel NUC NUC11PAHi5</a> - $460.00</td>
        <td><a href="https://www.lenovo.com/us/en/desktops-and-all-in-ones/thinkcentre/m-series-tiny/ThinkCentre-M80q/p/WMD00000413">Lenovo ThinkCentre M80q Tiny</a> - $444.60</td>
        <td><a href="https://www.asrock.com/nettop/Intel/DeskMini%20H470%20Series/index.asp">ASRock DeskMini H470</a> - $189.99</td>
        <td><a href="https://www.dell.com/en-us/work/shop/workstations-isv-certified/new-precision-3240-compact-desktop-workstation/spd/precision-3240-workstation/xctop3240cffus_vivp">Dell Precision 3240 Compact</a> - $839.00 ($562.92 if stripped to base)</td>
      </tr>
      <tr>
        <th>Base CPU</th>
        <td><a href="https://ark.intel.com/content/www/us/en/ark/products/95442/intel-core-i3-7100u-processor-3m-cache-2-40-ghz.html">Intel Core i3-7100U</a> (2c/4t @ 2.40GHz)</td>
        <td><a href="https://ark.intel.com/content/www/us/en/ark/products/208658/intel-core-i5-1135g7-processor-8m-cache-up-to-4-20-ghz.html">Intel Core i5-1135G7</a> (4c/8t @ 2.40GHz)</td>
        <td><a href="https://ark.intel.com/content/www/us/en/ark/products/199275/intel-core-i5-10500t-processor-12m-cache-up-to-3-80-ghz.html">Intel Core i5-10500T</a> (6c/12t @ 2.30GHz)</td>
        <td>N/A</td>
        <td><a href="https://ark.intel.com/content/www/us/en/ark/products/199283/intel-core-i3-10100-processor-6m-cache-up-to-4-30-ghz.html">Intel Core i3-10100</a> (4c/8t @ 3.60GHz)</td>
      </tr>
      <tr>
        <th>Upgrade CPU</th>
        <td>N/A</td>
        <td>N/A</td>
        <td>N/A</td>
        <td><a href="https://ark.intel.com/content/www/us/en/ark/products/199271/intel-core-i5-10400-processor-12m-cache-up-to-4-30-ghz.html">Intel Core i5-10400</a> (6c/12t @ 2.90GHz) - $184.99</td>
        <td><a href="https://ark.intel.com/content/www/us/en/ark/products/199274/intel-xeon-w-1250-processor-12m-cache-3-30-ghz.html">Intel Core i5-10500</a> (6c/12t @ 3.10GHz) - $78.78</td>
      </tr>
      <tr>
        <th>Memory</th>
        <td><a href="https://www.crucial.com/memory/ddr4/ct2k16g4sfd824a">Crucial 32GB Kit (2x 16GB) DDR4-2400 SODIMM</a> - $173.00</td>
        <td>Crucial 32GB Kit (2x 16GB) DDR4-3200 SODIMM - $147.99</td>
        <td>Crucial 32GB Kit (2x 16GB) DDR4-3200 SODIMM - $147.99</td>
        <td>Crucial 32GB Kit (2x 16GB) DDR4-3200 SODIMM - $147.99</td>
        <td>Crucial 32GB Kit (2x 16GB) DDR4-3200 SODIMM - $147.99</td>
      </tr>
      <tr>
        <th>Storage</th>
        <td><a href="https://www.samsung.com/semiconductor/minisite/ssd/product/consumer/860pro/">Samsung 860 Pro 2.5" 512GB SATA SSD</a> - $138.07</td>
        <td>Samsung 970 Pro 512GB M.2 NVMe SSD - $169.99</td>
        <td>Samsung 970 Pro 512GB M.2 NVMe SSD - $169.99</td>
        <td>Samsung 970 Pro 512GB M.2 NVMe SSD - $169.99</td>
        <td>Samsung 970 Pro 512GB M.2 NVMe SSD - $169.99</td>
      </tr>
      <tr>
        <th>Accessories</th>
        <td>N/A</td>
        <td>N/A</td>
        <td>N/A</td>
        <td>Noctua NH-L9i chromax.black - $49.95</td>
        <td>N/A</td>
      </tr>
      <tr>
        <th>Total price</th>
        <td>$594.06 (2017 prices)</td>
        <td>$777.98</td>
        <td>$762.58</td>
        <td>$742.91</td>
        <td>$959.68</td>
      </tr>
      <tr>
        <th>Comments</th>
        <td style="vertical-align:top">
          <ul>
            <li>U-Series processor (laptop chip)</li>
            <li>Mediocre cooling</li>
            <li>Smallest footprint</li>
          </ul>
        </td>
        <td style="vertical-align:top">
          <ul>
            <li>Essentially just an upgrade of the NUC I already have</li>
            <li>Same issues with mobile processor and mediocre cooling</li>
          </ul>
        </td>
        <td style="vertical-align:top">
          <ul>
            <li>T-Series processor (low-power desktop chip)</li>
            <li>Mid-level cooling</li>
            <li>Medium footprint</li>
            <li>~$100 savings through my employer's perks program</li>
          </ul>
        </td>
        <td style="vertical-align:top">
          <ul>
            <li>Standard processor (desktop chip)</li>
            <li>CPU socket (so I can upgrade CPU later)</li>
            <li>Excellent cooling (due to aftermarket cooler)</li>
          </ul>
        </td>
        <td style="vertical-align:top">
            <ul>
              <li>Standard processor (desktop chip)</li>
              <li>CPU socket (so I can upgrade CPU later)</li>
              <li>65W cooler is reported to be bad</li>
            </ul>
          </td>
      </tr>
    </tbody>
  </table>
</div>