<div>
  <table>
    <thead>
      <tr>
        <th>Software</th>
        <th>Advantage</th>
        <th>Disadvantage</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th>Raspberry Pi 3 Model B+</th>
        <td>
          <ul>
            <li>Cheap</li>
            <li>Small form-factor</li>
            <li>Large community and great aftermarket support</li>
          </ul>
        </td>
        <td>
          <ul>
            <li>CPU/memory is limited</li>
            <li>Fastest storage connection is USB2.0</li>
            <li>Gigabit ethernet, but bound to USB bus, so max throughput is 300Mbps</li>
          </ul>
        </td>
      </tr>
      <tr>
        <th>Any Raspberry Pi clone (e.g., BananaPi, OrangePi, NanoPi, etc…)</th>
        <td>
          <ul>
            <li>Cheap</li>
            <li>Small form-factor</li>
          </ul>
        </td>
        <td>
          <ul>
            <li>Typically isn’t in mainline kernel</li>
          </ul>
        </td>
      </tr>
      <tr>
        <th>Any x86 single-board device (e.g., Udoo, UP board, Minnowboard, etc…)</th>
        <td>
          <ul>
            <li>Small form-factor</li>
            <li>SATA3 and USB3.0</li>
            <li>x86 architecture</li>
          </ul>
        </td>
        <td>
          <ul>
            <li>Small community and limited aftermarket support</li>
            <li>Expensive for what the devices offer</li>
          </ul>
        </td>
      </tr>
      <tr>
        <th>ODROID C2</th>
        <td>
          <ul>
            <li>Cheap</li>
            <li>Small form-factor</li>
            <li>Gigabit ethernet</li>
          </ul>
        </td>
        <td>
          <ul>
            <li>Fastest storage connection is USB2.0</li>
          </ul>
        </td>
      </tr>
      <tr>
        <th>ODROID XU4</th>
        <td>
          <ul>
            <li>Cheap</li>
            <li>Small form-factor</li>
            <li>Gigabit ethernet</li>
            <li>USB3.0</li>
          </ul>
        </td>
        <td>
          <ul>
            <li>No SATA ports</li>
          </ul>
        </td>
      </tr>
      <tr>
        <th>ESPRESSObin</th>
        <td>
          <ul>
            <li>Cheap</li>
            <li>Small form-factor</li>
            <li>Gigabit ethernet</li>
            <li>SATA3 and USB3.0</li>
          </ul>
        </td>
        <td>
          <ul>
            <li>Relatively new</li>
            <li>Small community and limited aftermarket support</li>
          </ul>
        </td>
      </tr>
      <tr>
        <th>Helios4</th>
        <td>
          <ul>
            <li>NAS form-factor</li>
            <li>Gigabit ethernet</li>
            <li>SATA3 and USB3.0</li>
          </ul>
        </td>
        <td>
          <ul>
            <li>Relatively new</li>
            <li>Small community and limited aftermarket support</li>
            <li>For the same price, I could get a NAS from Synology or QNAP</li>
          </ul>
        </td>
      </tr>
      <tr>
        <th>GnuBee PC2</th>
        <td>
          <ul>
            <li>NAS form-factor</li>
            <li>Gigabit ethernet</li>
            <li>SATA3 and USB3.0</li>
          </ul>
        </td>
        <td>
          <ul>
            <li>CPU/memory is limited</li>
            <li>Relatively new</li>
            <li>Small community and limited aftermarket support</li>
            <li>For the same price, I could get a NAS from Synology or QNAP</li>
          </ul>
        </td>
      </tr>
      <tr>
        <th>An actual 2-bay NAS (e.g., Synology, QNAP, etc…)</th>
        <td>
          <ul>
            <li>NAS form-factor</li>
            <li>Gigabit ethernet</li>
            <li>SATA3 and USB3.0</li>
            <li>Official support and updates</li>
          </ul>
        </td>
        <td>
          <ul>
            <li>CPU/memory is limited</li>
            <li>Expensive</li>
          </ul>
        </td>
      </tr>
    </tbody>
  </table>
</div>