<div>
  <table>
    <thead>
      <tr>
        <th>Software</th>
        <th>Advantage</th>
        <th>Disadvantage</th>
        <th>Based on</th>
        <th>Comments</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th><a href="https://www.pfsense.org/download/">pfSense</a></th>
        <td style="vertical-align:top">
          <ul>
            <li>Feature-rich firewall</li>
            <li>Supported by a real company (Netgate) with paid developers</li>
            <li>Very stable with good track record</li>
          </ul>
        </td>
        <td style="vertical-align:top">
          <ul>
            <li>GUI runs as root</li>
            <li>The company behind pfSense (Netgate) did some <a href="https://www.wipo.int/amc/en/domains/search/text.jsp?case=D2017-1828">shady shit</a> to the OPNsense team</li>
            </ul>
        </td>
        <td style="vertical-align:top">FreeBSD</td>
        <td style="vertical-align:top">
          <ul>
            <li>Known to be a firewall with basic routing support</li>
          </ul>
        </td>
      </tr>
      <tr>
        <th><a href="https://opnsense.org/download/">OPNsense</a></th>
        <td style="vertical-align:top">
          <ul>
            <li>Feature-rich firewall</li>
            <li>Newer GUI than pfSense</li>
          </ul>
        </td>
        <td style="vertical-align:top">
          <ul>
            <li>Some talk of <a href="https://news.ycombinator.com/item?id=17431242">poor code quality</a> in HardenedBSD</li>
            <li>Considered to be &#8220;run by amateurs&#8221;</li>
          </ul>
        </td>
        <td style="vertical-align:top">FreeBSD (fork of pfSense)</td>
        <td style="vertical-align:top">
          <ul>
            <li>Based on HardenedBSD</li>
          </ul>
        </td>
      </tr>
      <tr>
        <th><a href="https://downloads.vyos.io/">VyOS</a></th>
        <td style="vertical-align:top">
          <ul>
            <li>Feature-rich router (e.g., advanced routing protocols like BGP, OSPF, etc&#8230;)</li>
            <li>Cisco/Juniper-style command-line interface</li>
            <li>Much better performance than anything based on BSD because Linux has better driver support and is multi-core aware</li>
          </ul>
        </td>
        <td style="vertical-align:top">
          <ul>
            <li>Newest version of VyOS is based on an old version of Debian that is only supported until 2020</li>
            <li>No GUI (not a huge issue since I&#8217;m familiar with EdgeOS)</li>
          </ul>
        </td>
        <td style="vertical-align:top">Debian</td>
        <td style="vertical-align:top">
          <ul>
            <li>Known to be a router with basic firewall support</li>
            <li>Moved to RHEL-type subscription model, offering &#8220;stable&#8221; version to paid users, and &#8220;rolling&#8221; releases to free users (e.g., like RHEL vs CentOS)</li>
          </ul>
        </td>
      </tr>
    </tbody>
  </table>
</div>