{{- $u := urls.Parse (.Get "src") -}}
{{- $src := $u.String -}}
{{- if not $u.IsAbs -}}
  {{- with or (.Page.Resources.Get $u.Path) (resources.Get $u.Path) -}}
    {{- $src = .RelPermalink -}}
  {{- end -}}
{{- end }}

<video{{ with .Get "width" }} width="{{ . }}"{{ end }} height="100%" autoplay controls loop muted playsinline>
  <source src="{{ $src }}" type="video/mp4">
  {{- with .Get "webm" }}<source src="{{ . }}" type="video/webm">{{ end }}
  <p>Your browser does not support video.</p>
</video>