Hey! Listen! This post is part of a series on using your own router with Verizon FiOS. Check them all out!
<div>
  <table>
    <thead>
      <tr>
        <th>Date</th>
        <th>URL</th>
        <th>Part</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>2016-08-22</td>
        <td><a href="{{ .Page.Site.BaseURL }}/2016/08/verizon-fios-router-maintenance-charge/" target="_blank">Verizon FiOS Router Maintenance Charge</a></td>
        <td><li>Maintenance Charges</li></td>
      </tr>
      <tr>
        <td>2015-07-11</td>
        <td><a href="{{ .Page.Site.BaseURL }}/2015/07/use-your-own-router-with-verizon-fios/" target="_blank">Use your own router with Verizon FiOS</a></td>
        <td><li>Initial Post</li></td>
      </tr>
    </tbody>
  </table>
</div>