Hey! Listen! This post is part of a series on using OpenWrt. Check them all out!
<div>
  <table>
    <thead>
      <tr>
        <th>Date</th>
        <th>URL</th>
        <th>Part</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>2016-04-28</td>
        <td><a href="{{ .Page.Site.BaseURL }}/2016/04/openwrt-upgrade-process/" target="_blank" rel="noopener noreferrer">OpenWrt upgrade process</a></td>
        <td><li>OpenWrt upgrade</li></td>
      </tr>
      <tr>
        <td>2015-08-26</td>
        <td><a href="{{ .Page.Site.BaseURL }}/2015/08/openwrt-with-openvpn-server-on-tp-link-archer-c7/" target="_blank" rel="noopener noreferrer">OpenWrt with OpenVPN server on TP-Link Archer C7</a></td>
        <td><li>Initial post</li></td>
      </tr>
      <tr>
        <td>2015-02-15</td>
        <td><a href="{{ .Page.Site.BaseURL }}/2015/02/openwrt-with-openvpn-client-on-tp-link-tl-mr3020-3/" target="_blank" rel="noopener noreferrer">OpenWrt with OpenVPN client on TP-Link TL-MR3020</a></td>
        <td><li>Initial post</li></td>
      </tr>
    </tbody>
  </table>
</div>