Hey! Listen! This post is part of a series on pfSense. Check them all out!
<div>
  <table>
    <thead>
      <tr>
        <th>Date</th>
        <th>URL</th>
        <th>Part</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>2019-08-25</td>
        <td><a href="{{ .Page.Site.BaseURL }}/2019/08/pfsense-on-the-pc-engines-apu2/">pfSense on the PC Engines APU2</a></td>
        <td><li>Migrated to a PC Engines APU2D4</li></td>
      </tr>
      <tr>
        <td>2019-07-17</td>
        <td><a href="{{ .Page.Site.BaseURL }}/2019/07/my-sg-1100-died/">My SG-1100 died</a></td>
        <td><li>Migrated back the the EdgeRouter Lite</li></td>
      </tr>
      <tr>
        <td>2019-06-28</td>
        <td><a href="{{ .Page.Site.BaseURL }}/2019/06/migrating-away-from-the-ubiquiti-edgerouter-lite/">Migrating away from the Ubiquiti EdgeRouter Lite</a></td>
        <td><li>Migrated to a Netgate SG-1100</li></td>
      </tr>
    </tbody>
  </table>
</div>